.button {
  background-color: #004a7f;
  -webkit-border-radius: 10px;
  border-radius: 5px;
  border: none;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: Arial;
  font-size: 12px;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  -webkit-animation: glowing 1500ms infinite;
  -moz-animation: glowing 1500ms infinite;
  -o-animation: glowing 1500ms infinite;
  animation: glowing 1500ms infinite;
}
@-webkit-keyframes glowing {
  0% {
    background-color: #55d5fe;
    -webkit-box-shadow: 0 0 3px #55d5fe;
  }
  50% {
    background-color: #00bfff;
    -webkit-box-shadow: 0 0 40px #00bfff;
  }
  100% {
    background-color: #55d5fe;
    -webkit-box-shadow: 0 0 3px #55d5fe;
  }
}

@-moz-keyframes glowing {
  0% {
    background-color: #55d5fe;
    -moz-box-shadow: 0 0 3px #55d5fe;
  }
  50% {
    background-color: #00bfff;
    -moz-box-shadow: 0 0 40px #00bfff;
  }
  100% {
    background-color: #55d5fe;
    -moz-box-shadow: 0 0 3px #55d5fe;
  }
}

@-o-keyframes glowing {
  0% {
    background-color: #55d5fe;
    box-shadow: 0 0 3px #55d5fe;
  }
  50% {
    background-color: #00bfff;
    -moz-box-shadow: 0 0 40px #00bfff;
  }
  100% {
    background-color: #55d5fe;
    box-shadow: 0 0 3px #55d5fe;
  }
}

@keyframes glowing {
  0% {
    background-color: #55d5fe;
    box-shadow: 0 0 3px #55d5fe;
  }
  50% {
    background-color: #00bfff;
    -moz-box-shadow: 0 0 40px #00bfff;
  }
  100% {
    background-color: #55d5fe;
    box-shadow: 0 0 3px #55d5fe;
  }
}
