.fade-in {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.fade-out {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

footer a {
  transition: color 0.3s ease, transform 0.2s ease;
}

footer a:hover {
  transform: scale(1.05); /* Slightly enlarge the link on hover */
}

/* Blink animation : ContactSection */
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.animate-blink {
  animation: blink 1s infinite;
}
