/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */

/* Keyframes for images coming in and going out */
/* @keyframes move-in-out {
  0%,
  100% {
    opacity: 0;
    transform: translateX(100px) scale(0.8);
  }
  25%,
  75% {
    opacity: 1;
    transform: translateX(0) scale(1);
  }
  50% {
    opacity: 0;
    transform: translateX(-100px) scale(1.2);
  }
} */

/* Delay stagger for each image */
/* .animate-image-1 {
  animation: move-in-out 6s ease-in-out infinite;
  animation-delay: 0s;
}

.animate-image-2 {
  animation: move-in-out 6s ease-in-out infinite;
  animation-delay: 1s;
}

.animate-image-3 {
  animation: move-in-out 6s ease-in-out infinite;
  animation-delay: 2s;
}

.animate-image-4 {
  animation: move-in-out 6s ease-in-out infinite;
  animation-delay: 3s;
}

.animate-image-5 {
  animation: move-in-out 6s ease-in-out infinite;
  animation-delay: 4s;
} */

.fade-in {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.fade-out {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

footer a {
  transition: color 0.3s ease, transform 0.2s ease;
}

footer a:hover {
  transform: scale(1.05); /* Slightly enlarge the link on hover */
}

/* Blink animation : ContactSection */
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.animate-blink {
  animation: blink 1s infinite;
}
